
  <div class="container flex align-items-center pt-5">
    
    <div class="image-section flex flex-1 relative">
    <div class="right-container flex flex-column">
      <div class=" flex justify-content-center">
        <img src="login-image.png" alt="login" />
    </div>

    <div class="flex flex-column">
    <div class="flex flex-row gap-1 pt-7">
      <div class="">Intelligent  HyperAutomation</div>
      <div class="text-workbench">Workbench</div>
    </div>
    <div class="text-nedbank text-lg pt-3 ">A PWC and Nedbank Collaboration</div>

      <div class="login-right-sup-header text-sm pt-7">A GEN AI integrated intuitive and streamlined platform for building intelligent hyper-automation workflows, combining with efficiency and innovation. </div>
      </div>
    </div>
    </div>
    <div class="vertical-line"></div>
    <div class="svg-image">
      <div class="flex justify-content-end">
        <div class="logo-container absolute">
                <img src="logo.svg" alt="Create-solution" class="logo" />
        </div>
    </div>
    </div>
    <div class="login-section flex flex-column justify-content-center flex-1"> 
      <div class="login-section-container">

      <div class="login-header flex flex-column align-items-center">
        <div class="left-header text-lg">Single Sign-On</div>
        <div class="left-sup-header text-lg">Secure Enterprise Login</div>
      </div>
      <button type="submit" class="submit-btn" (click)="login()">Sign in with SSO</button>

      <div class=" flex flex-column justify-content-center align-items-center gap-3">
        <div class="text-base flex justify-content-center" >Having trouble signing in?</div>
        <div class="text-base flex flex-wrap justify-content-center">Contact the IT help desk at&nbsp; 
          <a href="mailto:helpdesk@company.com" target="_blank" style="color: blue;">helpdesk&#64;company.com</a> 
        </div>
      </div>
      </div>
    </div>
  </div>
